.main1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  padding-bottom: 8vh;
  padding-top: 8vh;
}
.main2 {
  padding-top: 8vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  padding-bottom: 8vh;
}
.input {
  vertical-align: -webkit-baseline-middle;
  margin-left: 3em;
}

/* 
Gradiant Colours Sample CSS Layouts:

background-color #861657;
background-image linear-gradient(326deg, #861657 0%, #ffa69e 74%);
background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); 
*/
